@import './base.css';

#app {
  font-weight: normal;
  color: var(--vt-c-black-mute);
}

/* Text Styling */
.playfair {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 36px;
}


h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 28px;
}

/* setup */
.setup{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
