@import './base.css';

#app {
  font-weight: normal;
}

/* Text Styling */
.playfair {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 36px;
  color: var(--vt-c-black-mute);
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 28px;
  color: var(--vt-c-black-mute);
}

/* setup */
.setup{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}



a,
.darkblue {
  text-decoration: none;
  color: #0E0E0F;
  transition: 0.4s;
  padding: 2px;
  font-weight: 700;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(40, 40%, 25%, 0.2);
  }
}